{% extends 'base/logsing.html' %}

{% block title %}Terminos y condiciones | BELLE D' LUXE{% endblock title %}

{% load  static %}

{% block content %}

<style>

    #inicio{
    padding: 6px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 4%;
    margin-top: 4%;
    text-align: justify ;
    }


</style>

<link rel="stylesheet" type="text/css" href="{% static 'infocss/styletext.css' %}">

<center> <p style="padding-top: 3%;">Términos y condiciones | Politica de privacidad </p>  </center>
 
<div id="inicio">


    <center> <p id="inicio">Bienvenido al sitio web de Belle D'Luxe. Por favor, lea atentamente los siguientes términos y condiciones antes de usar nuestro sitio web. Al acceder y utilizar este sitio, acepta cumplir y estar sujeto a estos términos y condiciones.</p>   </center>
    <br>
    <center><p>Política de Privacidad:</p></center>
    <br>
    
        <p id="ini1">Esta Política de Privacidad describe cómo Belle D'Luxe recopila, utiliza y protege la información que usted nos proporciona cuando utiliza nuestro sitio web. Respetamos su privacidad y nos comprometemos a proteger su información personal. Lea esta política de privacidad detenidamente para comprender cómo tratamos sus datos.
    
        Recopilación de Información: Recopilamos información personal que usted nos proporciona voluntariamente, como su nombre, dirección de correo electrónico, dirección de envío, número de teléfono, etc., al realizar una compra o registrarse en nuestro sitio web.
    
        Uso de la Información: Utilizamos su información para procesar pedidos, proporcionar asistencia al cliente, mejorar nuestros productos y servicios, y enviarle información promocional, si ha dado su consentimiento.
    
        Protección de Datos: Sus datos personales se almacenan de forma segura y protegida. No vendemos ni compartimos su información con terceros sin su consentimiento. </p>
    <br>
    <center>Política de Cookies: </center>
    <br>
    
    <p id="ini1">Nuestro sitio web utiliza cookies para mejorar la experiencia del usuario. Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita nuestro sitio. Estas cookies nos ayudan a analizar el tráfico del sitio, personalizar el contenido y ofrecer anuncios dirigidos.
    
        Tipos de Cookies: Utilizamos cookies de sesión y cookies persistentes, así como cookies de terceros para analítica y publicidad.
    
        Gestión de Cookies: Puede configurar sus preferencias de cookies en su navegador. Tenga en cuenta que la desactivación de ciertas cookies puede afectar su experiencia en nuestro sitio web.</p>
    
        <br>
        <center> <p>Condiciones Generales de Venta:</p></center>
        <br>
    
        <p>Estas condiciones generales se aplican a todas las compras realizadas en Belle D'Luxe. Al realizar un pedido en nuestro sitio, acepta estas condiciones.
    
        Productos y Precios: Nos esforzamos por ofrecer productos de alta calidad a precios competitivos. Los precios y la disponibilidad están sujetos a cambios sin previo aviso.
    
        Envío: El envío se realizará a la dirección que nos proporcione. Los tiempos de entrega pueden variar.
    
        Devoluciones y Reembolsos: Aceptamos devoluciones dentro de los 30 días posteriores a la recepción del producto. Para más detalles, consulte nuestra política de devoluciones en nuestro sitio web.
    
        Pagos: Aceptamos pagos en línea a través de métodos seguros. Su información de pago se cifra y se mantiene de forma segura.
    
        Contacto: Si tiene alguna pregunta o necesita asistencia, no dude en ponerse en contacto con nuestro equipo de atención al cliente.</p>
        <br>
        <br>
</div>  


<a id="btn1" href="{% url 'home:inicio'%}" class="btn btn-info" role="button">Regresar</a>

{% endblock content %}